doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer
    table
      tr
        td
          a(href='/#') Home
      tr
        td
          a(href='/upload') Upload Form
      tr
        td
          a(href='/about') About Page

//
              table
                  tr
                      td
                          a(href='http://127.0.0.1:1337/') Home
                  tr
                      td
                          a(href='http://127.0.0.1:1337/upload') Upload Form
                  tr
                      td
                          a(href='http://127.0.0.1:1337/about') About Page